################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDSDPms
/SDSDPms/bin/Debug/netcoreapp3.1
/SDSDPms/obj
